---
import { getCategories, getCategoryDetail, getProducts } from "../../utils/microcms";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProductCardByMicrocms from "../../components/ProductCardByMicrocms.astro";

export async function getStaticPaths() {
  const response = await getCategories({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      id: content.id,
    },
  }));
}

const title = "Astro + Shopify";
const { id } = Astro.params;
const cat = await getCategoryDetail(id as string);

const products = await getProducts({
  filters: `categories[contains]${id}`,
  limit: 100
});
---

<BaseLayout title={title} currentPage="product">
  <section class="">
    <div class="relative inline-block">
      <h2 class="text-2xl relative">
        {cat.name}
      </h2>
      <div class="absolute top-0 left-[105%] text-xs font-bold">
        {products.contents.length ? `${products.contents.length}` : ''}
      </div>
    </div>
    <div class="grid grid-cols-5 gap-10 mt-10">
      {products.contents.map((product: any) => (
        <ProductCardByMicrocms product={product} className=""/>
      ))}
    </div>
  </section>
</BaseLayout>