---
import type { z } from "zod";
import type { ProductResult } from "../utils/schemas";

import ShopifyImage from "./ShopifyImage.svelte";
import Money from "./Money.svelte";

export interface Props {
  product: z.infer<typeof ProductResult>;
  className?: string;
}
const { product,className } = Astro.props as Props;


import { getProductDetail } from "../utils/microcms";
const productInfomation = await getProductDetail(product?.handle as string);
---

<a
  href={`/products/${product?.handle}`}
  class={`${className}`}
>
  <div class="relative">
    <ShopifyImage
      classList=""
      loading="lazy"
      image={product?.featuredImage}
      sizes="(min-width: 1280px) 200px, (min-width: 768px) 25vw, 50vw"
    />
  </div>
  <div class="">
    <p class="mt-1 text-xl">{product?.title}</p>
    <p class="text-[22px]">
      <Money price={product?.variants.nodes[0].price} />
    </p>
    <!-- <div class="flex justify-between mt-[2px] text-sm">
      <p>
        {productInfomation.designers[0].nameJa}
        <span>
          {productInfomation?.designers && productInfomation?.designers[1]?.nameJa.length > 0 && ("他")}
        </span>
      </p>
      <p>
        {productInfomation.series[0].title}
      </p>
    </div> -->
  </div>
</a>
