---
import type { z } from "zod";
import type { ProductResult as ShopifyProduct } from "../utils/schemas";
import type { Products as MicroCMSProduct } from "../utils/microcms";

import ShopifyImage from "./ShopifyImage.svelte";
import Money from "./Money.svelte";

export interface Props {
  product: MicroCMSProduct;
  productShopify?: z.infer<typeof ShopifyProduct>;
  className?: string;
  noSeries?: boolean;
}
const { product, productShopify, className, noSeries } = Astro.props as Props;
---

<a
  href={`/products/${productShopify?.handle || product.id}`}
  class={`${className}`}
>
  <div class="relative">
    {productShopify?.featuredImage ? (
      <ShopifyImage
        classList=""
        loading="eager"
        image={productShopify.featuredImage}
      />
    ) : (
      <div class="bg-gray-200 aspect-square" />
    )}
  </div>
  <div class="">
    <p class="mt-1 text-xl">{productShopify?.title || product.name}</p>
    {productShopify?.variants.nodes[0].price && (
      <p class="text-[22px]">
        <Money price={productShopify.variants.nodes[0].price} />
      </p>
    )}
    <!-- <div class="flex justify-between mt-[2px] text-sm">
      <p>
        {product?.designers[0].nameJa}
        <span>
          {product?.designers && product?.designers[1]?.nameJa.length > 0 && ("他")}
        </span>
      </p>
      {noSeries ? null : (
        <p>
          {product?.series[0].title}
        </p>
      )}
    </div> -->
  </div>
</a>
