---
import { getSeries, getDesignerDetail, getDesigners, getProducts } from "../../utils/microcms";

import BaseLayout from "../../layouts/BaseLayout.astro";

import ProductCardByMicrocms from "../../components/ProductCardByMicrocms.astro";

export async function getStaticPaths() {
  const response = await getDesigners({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      id: content.id,
    },
  }));
}

const title = "Astro + Shopify";
const { id } = Astro.params;
const designer = await getDesignerDetail(id as string);

const series = await getSeries({
  filters: `designers[contains]${id}`,
  limit: 100
});
const products = await getProducts({
  filters: `designers[contains]${id}`,
  limit: 100
});
---

<BaseLayout title={title} currentPage="designers">
  <section class="grid grid-cols-5 gap-10 pt-10 pb-12">
    <div class="col-span-3">
      <p class="text-xs">
        Designer :
      </p>
      <h2 class="mt-3 text-2xl">
        {designer.nameJa}
      </h2>
      <p class="mt-4 text-sm">
        {designer.profile}
      </p>
      <div class="mt-2">
        {designer.link.map((link: any) => (
          <a href={`/designer/${link.url}`} class="block underline underline-offset-6 text-sm hover:no-underline">
            {link.text}
          </a>
        ))}
      </div>
    </div>
    <div class="">
      <img src={designer.image.url} alt={designer.nameJa} />
    </div>
  </section>
  <section class="mt-20 flex flex-col gap-y-20">
    {series.contents.map((content: any) => (
      <div class="grid grid-cols-5 gap-10">
        <a href={`/series/${content.id}`} >
          <h3 class="text-2xl text-underline hover:no-underline">{content.title}</h3>
          <p class="mt-4 text-sm line-clamp-5">
            {content.text}
          </p>
        </a>
        {products.contents.map((product: any) => (
          <>
            {product.series.map((ser: any) => (
              ser.id === content.id && (
                <ProductCardByMicrocms product={product} className=""/>
              )
            ))}
          </>
        ))}
      </div>
    ))}
  </section>
  <div class="grid grid-cols-5 gap-x-10 mt-33">
    <div class="col-span-5 mb-3">
      <h3 class="text-xs">
        All products :
      </h3>
    </div>
    {products.contents.map((product: any) => (
      <ProductCardByMicrocms product={product} className=""/>
    ))}
  </div>
</BaseLayout>