---
import { getDesigners } from "../../utils/microcms";
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Astro + Shopify";
const designer = await getDesigners({
  limit: 100
});
---

<BaseLayout title={title} currentPage="designers">
  <section class="h-full pt-10 pb-12 max-sm:pt-16">
    <h2 class="text-xs">
      All designers:
    </h2>
    <div class="grid grid-cols-5 gap-12 mt-3 max-lg:grid-cols-4 max-md:grid-cols-3 max-md:gap-8 max-sm:grid-cols-2 max-sm:gap-4">
      {designer.contents.map((content: any) => (
        <a href={`/designers/${content.id}`} class="">
          <div>
            <img
              src={`${content.image.url}?w=600&fm=webp`}
              alt={content.nameJa}
              class="w-full"
              loading="lazy"
              width={content.image.width}
              height={content.image.height}
            />
          </div>
          <h3 class="mt-3 text-xl">{content.nameJa}</h3>
          <p class="mt-1 text-base line-clamp-4">
            {content.profile}
          </p>
        </a>
      ))}
    </div>
  </section>
</BaseLayout>