---
import { getDesigners } from "../../utils/microcms";
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Astro + Shopify";
const designer = await getDesigners({
  limit: 100
});
---

<BaseLayout title={title} currentPage="designers">
  <section class="h-full pt-10 pb-12">
    <h2 class="text-xs">
      All designers:
    </h2>
    <div class="grid grid-cols-5 gap-12 mt-3">
      {designer.contents.map((content: any) => (
        <a href={`/designers/${content.id}`} class="">
          <div>
            <img src={content.image.url} alt={content.nameJa} class="w-full"/>
          </div>
          <h3 class="mt-3 text-xl">{content.nameJa}</h3>
          <p class="mt-1 text-base line-clamp-4">
            {content.profile}
          </p>
        </a>
      ))}
    </div>
  </section>
</BaseLayout>